* {
	font-family: "Tahoma", sans-serif;
/* Add background color to the top navigation */
.topnav {
  background-color: #354543;
  overflow: hidden;
}
/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 10px 30px;
  text-decoration: none;
  font-size: 15px;
}
/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ccc;
  color: black;
}
/* Add a color to the active/current link */
.topnav a.active {
  background-color: #3C2FAE;
  color: white;
}
.gallery {
  margin: 5px;
  border: 1px solid #ccc;
  float: left;
  width: 300px;
}

.gallery img {
  width: 100%;
  height: auto;
}

.desc {
  padding: 15px;
  text-align: center;
}